/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 0; }
p { margin: 0; }

a         { color: #e74c3c; }
a:hover   { color: #e74c3c; }
a:visited { color: #C74E42; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
body {
  background: #eee;
  font-family: 'Lato', sans-serif;
  color: #474747;
}
h1 {
  font-size: 3em;
/*  text-transform: uppercase;*/
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
h1.title {
    margin: 0;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    text-align: left;
    color:#fff;
        position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 446px;
}
h2{
  font-size: 2em;
  line-height: 2em;
    font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.posts {
  list-style-type: none;
}
.posts h2 a{
font-size:24px;
    text-decoration: none;
    color: #111;
}
.posts h2 a:hover{
    color: #e74c3c;
}


.posts li {
  line-height: 1.75em;
}
.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
.left{
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
}
.sidebar{
  box-sizing:border-box;
  padding: 20px;
  width: 20%;
  float: left;
  background-color: #eee;
  height: 100%;
}

.main.posthead .post{
padding:5%;
 max-width: 1184px;
}

.post{

  box-sizing:border-box;

  overflow:hidden;
  font-size: 1.2rem;
    line-height: 2.8rem;
  margin-bottom: 50px;

   font-family: 'PT Serif', serif;

}

#left{
    width: 40%;
    height: 100%;
    float: left;
    background-image: url('../img/mount2.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 0px 8005px rgba(255,255,255,.8);
    -webkit-box-shadow: inset 0px 0px 0px 8005px rgba(255,255,255,.8);
    -moz-box-shadow: inset 0px 0px 0px 8005px rgba(255,255,255,.8);
}
#right{
    width: 60%;
    height: 100%;
    float: left;
    overflow-y: auto;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.topper{
  height: 50px;
  width: 100%;
  border-top:5px solid #e74c3c;
}
.main{
  margin: 0 auto;
  width: 100%;
    height: 100%;
/*  max-width: 1000px;*/
}
.header{
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  height: calc(100% - 10%);
        background-image: url('../img/for1.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 0px 8005px rgba(70,62,62,.8);
    -webkit-box-shadow: inset 0px 0px 0px 8005px rgba(70,62,62,.8);
    -moz-box-shadow: inset 0px 0px 0px 8005px rgba(70,62,62,.8);
        padding: 5%;
    box-sizing: border-box;
}


.main.posthead .header{

  height:auto;

}
.center{
  text-align: center;
  color: #2c3e50;
}
h2.center{
    font-size: 1em;
  font-weight: 300;
    text-transform: uppercase;
    color: rgb(145, 145, 145);
    margin-bottom: 50px;
}
h2.center span{
  font-weight: 700;
}
p.center{
  font-weight: 400;
  text-transform: uppercase;
}
hr{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border:1px dashed #bbb;
  width: 60%;
}
svg{
  height: 100%;
  width: 100%;
  fill: #e74c3c;
}
.header h1 a{
  text-decoration: none;
  color: #eee;
}
.header h1 a span{
  font-weight: 400;
}
.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}





@media (max-width: 900px) {
    .left{
    width: 100%;
    }
    .post{
    border-radius: 0px;
        max-width:90%;
        margin: 0 auto;
    }


}


@media (max-width: 455px) {
    h1.title {

  font-size: 4rem;

}


}
