body{
    background: #fff;
    font-family: 'Lato', sans-serif;
    color: #474747;
}
.inner{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
article{
    width: 100%;
    margin-top: 90px;
}
article h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
}
article .content p{
      font-family: 'Lora', serif;
  font-size:20px;
  line-height:35px;
  color:#525252;
}
