<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/png" href="favicon.png">
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
<!--        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">-->
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Arvo:400,400italic,700,700italic|Lato:400,100,300,700,900|Montserrat:400,700|Roboto+Condensed:400,300,700|PT+Serif:400,700,400italic,700italic|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

      <div class="main posthead">


            <div class="header">
<!--
          <a href="/">

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px"
             height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
          <g id="back">
            <polygon opacity="0.4" points="390.366,412.265 329.664,320.193 45.787,164.399 131.318,393.906 313.927,481.664 276.466,538.916
              390.781,623.396 505.076,538.916 467.633,481.664 650.225,393.906 735.773,164.399 451.862,320.193   "/>
          </g>
          <g id="middle">
            <polygon opacity="0.5" points="390.408,410.428 335.776,327.563 80.286,187.349 157.265,393.905 321.612,472.887 287.898,524.414
              390.781,600.445 493.646,524.414 459.947,472.887 624.28,393.905 701.273,187.349 445.754,327.563  "/>
          </g>
          <g id="front">
            <polygon points="390.449,408.592 341.887,334.934 114.785,210.299 183.211,393.904 329.297,464.111 299.329,509.912
              390.781,577.496 482.217,509.912 452.262,464.111 598.336,393.904 666.775,210.299 439.646,334.934   "/>
          </g>
          </svg>
          </a>
-->
           <!--  <h1 class="title"><a href="/">Nightcry<span>7</span></a></h1> -->

         <h1 class="title">{{ page.title }}</h1>
          </div>
<!--          <h2 class="center">The<span>Digital</span>Hawk</h2>-->



            {{ content }}




      </div>





    </body>
</html>
